/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');
*{
    background-color: hsl(336, 45%, 98%);
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    max-width: 425px;
    box-sizing: border-box;
}
.body-wrapper{
    display: grid;
    grid-template-areas: 
    "header"
    "aside"
    "article"
    "article"
    "input";
}
/*Where the icon is*/
#header{
   padding-left: 5%;
   padding: 7%;
}
#header svg{

}
/*Where the giant picture is*/
#aside{
    height: 100%;
    width: 100% 
}
/*Where h1 and paragrph text are*/
.article h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size:2.8rem;
    display: flex;
    justify-content: center;
}
.first{
    font-weight: 400;
    letter-spacing: 12px;
    margin-top: 4rem;
    color: hsl(0, 36%, 70%);
}
.second{
    letter-spacing: 12px;
    color: rgb(65, 64, 64);
}
.third{
    letter-spacing: 12px;
    color: rgb(65, 64, 64);
}
/*Paragrpah*/
.article p{
    display: flex;
    text-align: center;
    margin-top: 1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 550;
    font-size: 15px;
    line-height: 1.5;
    color:hsl(0, 36%, 70%);
}
/*Where the email and button are*/
#input{
    margin-top:1.2rem;
    place-self: center;
}

.btn{
    cursor: pointer;
    display: inline-block;
    margin-left: -44px;
    padding: 1rem;
    padding-top: .92rem;
    padding-bottom: 1.1rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border: none;
    border-radius: 2rem;
    background-color: hsl(0, 74%, 74%);
    color: white;
 
}
.texts{
    margin-top:1.2rem;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 8rem;
    color: hsl(0, 36%, 70%);
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 2rem;
    font-family: Josefin Sans;
}
::placeholder {
    color:hsl(0, 36%, 70%);
    font-weight: 20;
    font-size: 15px;
    /*Placeholder text input value "Email Address"*/
}
/*footer*/
footer{
    margin-top: 10rem;
    font-size: 15px; 
    color: hsl(0, 36%, 70%);
}
.attribution a{
    font-family: Josefin Sans;
    text-align: center; 
    color: hsl(0, 13%, 56%); 
}

@media (min-width: 426px) {
    .body-wrapper{
        display: grid;
        grid-template-areas: 
        "header header header aside aside"
        "article article article aside aside"
        "article article article aside aside"
        "input input input aside aside";
    }


} 